$primary-color: #161616;
$secondary-color: #686464;
$text-color: #0a0a0a;
$background-color: #dad0d0;
$font-family:Poppins , sans-serif;

// Breakpoints para diseño responsive
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
